/* general rules CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.navbar {
    background-color: cornflowerblue;
    height: 50px;
    display: flex;
    flex-direction: row;
}

/* .navbar div {
    background-color: burlywood;
    display: flex;

} */ 

/* main */

    /* jumbotron */
    .jumbotron-container {
        background-color: rgb(37, 37, 125);
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #box-per-inserire-contenuto {
        width: 200px;
        height: 100px;
        background-color: rgb(208, 158, 255);
    }

    /* sezione immagini con testo a lato */

    /* ultima sezione principale prima del footer */
     .ultima-sezione-container {
        background-color: rgb(195, 195, 195);
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #box-per-inserire-elementi {
        width: 400px;
        height: 300px;
        background-color: rgb(158, 255, 202);
    }


/* footer */

    /* sezione con link e social */

    /* barra finale con logo e pulsante */

